gaia/src/cengage/gift/essay.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSpy v2007 rel. 3 (http://www.altova.com) by Gale Group (Gale Group) -->
<!--W3C Schema generated by XMLSpy v2005 rel. 3 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:shared="http://www.gale.com/goldschema/shared" xmlns:essay="http://www.gale.com/goldschema/essay" xmlns:table="http://www.gale.com/goldschema/table" xmlns:xatts="http://www.gale.com/goldschema/xatts" xmlns:verse="http://www.gale.com/goldschema/verse" xmlns:pres="http://www.gale.com/goldschema/pres" xmlns:meta="http://www.gale.com/goldschema/metadata" xmlns:media="http://www.gale.com/goldschema/media" xmlns:list="http://www.gale.com/goldschema/list" xmlns:dir="http://www.gale.com/goldschema/dir" xmlns:math="http://www.w3.org/1998/Math/MathML" xmlns:dict="http://www.gale.com/goldschema/dictionary" xmlns:cat="http://www.gale.com/cat/" targetNamespace="http://www.gale.com/goldschema/essay" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0">
	<xs:annotation id="essay-purpose">
		<xs:documentation>Essay makes up the main body elements (divisions, paragraphs and others).</xs:documentation>
	</xs:annotation>
	<!--
	======================================================================
                           CHANGE HISTORY
	======================================================================
	3.0		12/04/2013		js
	1.	Removed the schema owner part.
	2.	Updated the folder path of <xs:import>.
	3.	As the namespace 'vault-link' is not used anywhere in the schema and it doesn't have appropriate <xs:import>, 
		we have removed the namespace from <xs:schema>.
	4.	Added the namespace 'essay' with the following elements and attributes: Structural-group, text-group, address, 
		blockcode, blockquote, div, footnote, footnote-reference, complex-meta, marginalia, p, pre, section, key-term, 
		heading-group, h, h1, h2, h3, h4, h5, h6, abbr, attribution, cite, code, defn, em, kbd, l, ocr-text, q, samp, 
		strong, span, var, inline-meta-group, book, play, periodical, poem, structural-group
	5.	Used MathML3 instead of MathML2.
	6.	Removed the namespace xmlns:gift-doc="http://www.gale.com/goldschema/gift-doc" as it doesn't have appropriate <xs:import> and 
		the namespace is not been used anywhere in the schema.
	7.	Reorganized the elements, element groups and attribute groups.
	8.	Replaced mixed-pres-type with common-mixed-type-model.
	9.	Renamed 'style-text' into 'style-text-type' and used it for the elements 'term' and 'definition'.
	10.	Restructured the elements 'term', 'definition' using the complexType element 'style-text-type'.
	11.	Externalized the element 'footnote-display' and 'footnote-number'.
	12.	Created new mixed complexType element 'essay-flow-type' and used it for the elements 'pre', 'blockquote', 'blockcode' and 'footnote-display'.
	13.	Removed the content model 'essay-type' as it is unused.
	======================================================================
-->
	<xs:include schemaLocation="gale_datatypes.xsd"/>
	<xs:import namespace="http://www.gale.com/goldschema/pres" schemaLocation="presentation.xsd"/>
	<xs:import namespace="http://www.gale.com/goldschema/media" schemaLocation="media.xsd"/>
	<xs:import namespace="http://www.gale.com/goldschema/table" schemaLocation="table.xsd"/>
	<xs:import namespace="http://www.gale.com/goldschema/list" schemaLocation="list.xsd"/>
	<xs:import namespace="http://www.gale.com/goldschema/xatts" schemaLocation="xhtml-atts.xsd"/>
	<xs:import namespace="http://www.gale.com/goldschema/verse" schemaLocation="verse.xsd"/>
	<xs:import namespace="http://www.w3.org/1998/Math/MathML" schemaLocation="mathml3/mathml3.xsd"/>
	<xs:import namespace="http://www.gale.com/goldschema/dictionary" schemaLocation="dictionary-module.xsd"/>
	<xs:import namespace="http://www.gale.com/goldschema/shared" schemaLocation="shared.xsd"/>
	<xs:import namespace="http://www.gale.com/goldschema/dir" schemaLocation="directory.xsd"/>
	<xs:import namespace="http://www.gale.com/cat/" schemaLocation="CAT.xsd"/>
	<xs:import namespace="http://www.gale.com/goldschema/metadata" schemaLocation="metadata.xsd"/>
	<!-- 
	============================================================================   
                    ELEMENT DECLARATIONS
	============================================================================   
	-->	
	<!--                    BOOK                                  -->	
	<xs:element name="book" type="xs:string">
		<xs:annotation>
			<xs:documentation>Generic wrapper for the whole book.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--                    PLAY                                  -->
	<xs:element name="play" type="xs:string">
		<xs:annotation>
			<xs:documentation>A literary form consisting of scripted dialogue between characters, intended for theatrical performance rather than just reading.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--                    PERIODICAL                                  -->
	<xs:element name="periodical" type="xs:string">
		<xs:annotation>
			<xs:documentation>Generic wrapper for the whole periodical issue; may contain one or more records.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--                    POEM                                  -->
	<xs:element name="poem" type="xs:string">
		<xs:annotation>
			<xs:documentation>A poem, a song or other type of content representing a literary form written in metrical feet forming rhythmical lines.</xs:documentation>
		</xs:annotation>		
	</xs:element>
	<!--                    FOOTNOTE                                  -->	
	<xs:element name="footnote">
		<xs:annotation>
			<xs:documentation>An annotation to the text, typically set at the bottom of the page in a printed book. 
				Footnotes within tables are typically placed after the table, at the bottom.</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:choice>
				<xs:group ref="pres:style-group" minOccurs="0" maxOccurs="unbounded"/>
				<xs:group ref="essay:structural-group" minOccurs="0" maxOccurs="unbounded"/>
				<xs:group ref="essay:inline-meta-group" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
			<xs:attributeGroup ref="xatts:coreAtts"/>
		</xs:complexType>
	</xs:element>
	<!--                    FOOTNOTE-DISPLAY                                  -->	
	<xs:element name="footnote-display" type="essay:essay-flow-type">
		<xs:annotation>
			<xs:documentation>Th content of the footnote.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--                    FOOTNOTE-NUMBER                                  -->
	<xs:element name="footnote-number" type="essay:common-mixed-type-model">
		<xs:annotation>
			<xs:documentation>Number or other mark of the footnote.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--                    FOOTNOTE-REFERENCE                                  -->	
	<xs:element name="footnote-reference">
		<xs:annotation>
			<xs:documentation>Pointer to an annotation to the text.  The note being referenced may be positioned at  the bottom of the page, 
				in a separate window, or collected into a Reference Note List.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="essay:footnote-number"/>
				<xs:element ref="essay:footnote-display" minOccurs="0"/>
			</xs:sequence>
			<xs:attributeGroup ref="xatts:coreAtts"/>
		</xs:complexType>
	</xs:element>
	<!--                    ABBR                                  -->	
	<xs:element name="abbr" type="essay:common-mixed-type-model">
		<xs:annotation>
			<xs:documentation>Defines an abbreviation.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--                    ATTRIBUTION                                  -->	
	<xs:element name="attribution" type="essay:common-mixed-type-model">
		<xs:annotation>
			<xs:documentation>The source of a block quote or epigraph.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--                    CITE                                  -->	
	<xs:element name="cite" type="essay:common-mixed-type-model">
		<xs:annotation>
			<xs:documentation>Defines the title of a work.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--                    CODE                                  -->	
	<xs:element name="code" type="essay:common-mixed-type-model">
		<xs:annotation>
			<xs:documentation>Defines a piece of computer code.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--                    DEFN                                  -->
	<xs:element name="defn" type="essay:common-mixed-type-model">
		<xs:annotation>
			<xs:documentation>Defines a definition term.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--                    EM                                  -->
	<xs:element name="em" type="essay:common-mixed-type-model">
		<xs:annotation>
			<xs:documentation>Defines emphasized text.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--                    KBD                                  -->
	<xs:element name="kbd" type="essay:common-mixed-type-model">
		<xs:annotation>
			<xs:documentation>Defines keyboard input.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--                    L                                  -->
	<xs:element name="l" type="essay:common-mixed-type-model">
		<xs:annotation>
			<xs:documentation>A line of the text.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--                    Q                                  -->
	<xs:element name="q" type="essay:common-mixed-type-model">
		<xs:annotation>
			<xs:documentation>Defines a short quotation.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--                    OCR-TEXT                                  -->	
	<xs:element name="ocr-text">
		<xs:annotation>
			<xs:documentation>Content that represents text acquired by OCR. </xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:attribute name="position" type="xs:normalizedString" use="optional"/>
		</xs:complexType>
	</xs:element>
	<!--                    SAMP                                  -->	
	<xs:element name="samp" type="essay:common-mixed-type-model">
		<xs:annotation>
			<xs:documentation>Sequence of literal characters (a sample.)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--                    STRONG                                  -->
	<xs:element name="strong" type="essay:common-mixed-type-model">
		<xs:annotation>
			<xs:documentation>Defines important text.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--                    SPAN                                  -->
	<xs:element name="span" type="essay:common-mixed-type-model">
		<xs:annotation>
			<xs:documentation>Defines a section in a document.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--                    VAR                                  -->
	<xs:element name="var" type="essay:common-mixed-type-model">
		<xs:annotation>
			<xs:documentation>Text that represents a variable name. e.g. in programming language code or math.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--                    ADDRESS                                  -->
	<xs:element name="address" type="essay:common-mixed-type-model">
		<xs:annotation>
			<xs:documentation>Defines contact information.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--                    KEY-TERM                                  -->	
	<xs:element name="key-term">
		<xs:annotation>
			<xs:documentation>Wrapper for term and definition.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="essay:term"/>
				<xs:element ref="essay:definition" minOccurs="0"/>
				<xs:element ref="shared:media" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string"/>
			<xs:attribute name="part-of-speech" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<!--                    TERM                                  -->	
	<xs:element name="term" type="essay:style-text-type">
		<xs:annotation>
			<xs:documentation>A word, term, symbol, etc. that has specific meaning in the subject area and may need to be linked to a definition, 
				extracted to make a list of terms, or made typographically distinct.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--                    DEFINITION                                  -->
	<xs:element name="definition" type="essay:style-text-type">
		<xs:annotation>
			<xs:documentation>Definition of the key term or concept.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--                    P                                  -->
	<xs:element name="p">
		<xs:annotation>
			<xs:documentation>A textual paragraph.</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:choice maxOccurs="unbounded">
				<xs:group ref="essay:flow-group" minOccurs="0"/>
				<xs:element ref="meta:doc-citation-group" minOccurs="0"/>
			</xs:choice>
			<xs:attributeGroup ref="essay:defineDivisions"/>
			<xs:attributeGroup ref="xatts:hypertextAtts"/>
			<xs:attributeGroup ref="xatts:coreAtts"/>
		</xs:complexType>
	</xs:element>
	<!--                    PRE                                  -->	
	<xs:element name="pre" type="essay:essay-flow-type">
		<xs:annotation>
			<xs:documentation>Defines preformatted text </xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--                    BLOCKQUOTE                                  -->
	<xs:element name="blockquote" type="essay:essay-flow-type">
		<xs:annotation>
			<xs:documentation>An extended quotation extracted from another source cited within the document. Usually set off  typographically, 
				for example by inset margins, space before and after, italics, etc.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--                    BLOCKCODE                                  -->
	<xs:element name="blockcode" type="essay:essay-flow-type">
		<xs:annotation>
			<xs:documentation>Wrapper for fragments of programming language code.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--                    SECTION                                  -->	
	<xs:element name="section">
		<xs:annotation>
			<xs:documentation>Defines a section in a document.</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:group ref="essay:flow-group"/>
			<xs:attributeGroup ref="essay:defineDivisions"/>
		</xs:complexType>
	</xs:element>
	<!--                    MARGINALIA                                  -->	
	<xs:element name="marginalia">
		<xs:annotation>
			<xs:documentation>Notes, scribbles, comments and illuminations in the margins of a book or a manuscript.</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:group ref="essay:flow-group"/>
			<xs:attributeGroup ref="essay:defineDivisions"/>
		</xs:complexType>
	</xs:element>
	<!--                    DIV                                  -->	
	<xs:element name="div">
		<xs:annotation>
			<xs:documentation>Defines a section in a document.</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:choice>
				<xs:element ref="cat:cat-record"/>
				<xs:sequence>
					<xs:element ref="essay:body-text-type" minOccurs="0" maxOccurs="unbounded"/>
					<xs:group ref="essay:flow-group"/>
					<xs:element ref="dict:dictionary-entry" minOccurs="0"/>
				</xs:sequence>
			</xs:choice>
			<xs:attributeGroup ref="essay:defineDivisions"/>
		</xs:complexType>
	</xs:element>
	<!--                    H, H1, H2, H3, H4, H5, H6                                  -->	
	<xs:element name="h" type="essay:pres-text">
		<xs:annotation>
			<xs:documentation>Used to define the heading.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="h1" type="essay:pres-text">
		<xs:annotation>
			<xs:documentation>The h1 to h6 tags are used to define the headings based on the importance. 
				'h1' defines the most important and 'h6' defines the least important heading.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="h2" type="essay:pres-text">
		<xs:annotation>
			<xs:documentation>The h1 to h6 tags are used to define the headings based on the importance. 
				'h1' defines the most important and 'h6' defines the least important heading.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="h3" type="essay:pres-text">
		<xs:annotation>
			<xs:documentation>The h1 to h6 tags are used to define the headings based on the importance. 
				'h1' defines the most important and 'h6' defines the least important heading.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="h4" type="essay:pres-text">
		<xs:annotation>
			<xs:documentation>The h1 to h6 tags are used to define the headings based on the importance. 
				'h1' defines the most important and 'h6' defines the least important heading.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="h5" type="essay:pres-text">
		<xs:annotation>
			<xs:documentation>The h1 to h6 tags are used to define the headings based on the importance. 
				'h1' defines the most important and 'h6' defines the least important heading.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="h6" type="essay:pres-text">
		<xs:annotation>
			<xs:documentation>The h1 to h6 tags are used to define the headings based on the importance. 
				'h1' defines the most important and 'h6' defines the least important heading.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--                    BODY-TEXT-TYPE                                  -->	
	<xs:element name="body-text-type">
		<xs:annotation>
			<xs:documentation>Wrapper for various parts of body text. Attribute "type" describes a type of this particular part, 
				e.g. "Career information", "Works", "Plot Summary", etc.</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:group ref="essay:flow-group"/>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="term-id" type="xs:unsignedLong" use="optional"/>
			<xs:attribute name="term-source" type="xs:normalizedString" use="optional"/>
		</xs:complexType>
	</xs:element>
	<!--                    COMPLEX-META                                  -->	
	<xs:element name="complex-meta" type="essay:complex-meta-type">
		<xs:annotation>
			<xs:documentation>To capture metadata about a "chunk" of content in the body portion of the document.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!-- 
	============================================================================   
                    COMPLEX TYPE DECLARATIONS
	============================================================================   
	-->
	<!--                    PRES-TEXT                                  -->	
	<xs:complexType name="pres-text" mixed="true">
		<xs:sequence>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:group ref="pres:style-group"/>
				<xs:element ref="shared:media"/>
				<xs:element ref="essay:footnote-reference"/>
				<xs:element ref="essay:key-term"/>
			</xs:choice>
		</xs:sequence>
		<xs:attributeGroup ref="xatts:hypertextAtts"/>
		<xs:attributeGroup ref="xatts:coreAtts"/>
	</xs:complexType>
	<!--                    STYLE-TEXT-TYPE                                  -->	
	<xs:complexType name="style-text-type" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:group ref="essay:text-group"/>
			<xs:group ref="pres:style-group"/>
		</xs:choice>
	</xs:complexType>
	<!--                    COMPLEX-META-TYPE                                  -->	
	<xs:complexType name="complex-meta-type">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="meta:msitem" minOccurs="0"/>
			<xs:element ref="meta:page-id-number" minOccurs="0"/>
			<xs:element ref="meta:ocr-confidence" minOccurs="0"/>
			<xs:element ref="meta:folio" minOccurs="0"/>
			<xs:element ref="meta:publication-date" minOccurs="0"/>
			<xs:element ref="meta:authors" minOccurs="0"/>
			<xs:element ref="meta:descriptive-indexing" minOccurs="0"/>
			<xs:element ref="meta:id" minOccurs="0"/>
			<xs:element ref="meta:ocr-language" minOccurs="0"/>
		</xs:choice>
	</xs:complexType>
	<!--                    EXXAY-FLOW-TYPE                                  -->	
	<xs:complexType name="essay-flow-type" mixed="true">
		<xs:group ref="essay:flow-group"/>
	</xs:complexType>
	
	<!-- 
	============================================================================   
                    ELEMENT GROUPS
	============================================================================   
	-->
	<!--                    HEADING GROUP                                  -->	
	<xs:group name="heading-group">
		<xs:choice>
			<xs:element ref="essay:h"/>
			<xs:element ref="essay:h1"/>
			<xs:element ref="essay:h2"/>
			<xs:element ref="essay:h3"/>
			<xs:element ref="essay:h4"/>
			<xs:element ref="essay:h5"/>
			<xs:element ref="essay:h6"/>
		</xs:choice>
	</xs:group>
	<!--                    FLOW GROUP                                  -->	
	<xs:group name="flow-group">
		<xs:sequence>
			<xs:choice maxOccurs="unbounded">
				<xs:group ref="essay:structural-group"/>
				<xs:group ref="essay:text-group"/>
				<xs:group ref="pres:style-group"/>
				<xs:group ref="essay:inline-meta-group"/>
			</xs:choice>
		</xs:sequence>
	</xs:group>
	<!--                    STRUCTURAL GROUP                                  -->	
	<xs:group name="structural-group">
		<xs:sequence>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="essay:address"/>
				<xs:element ref="essay:blockcode"/>
				<xs:element ref="essay:blockquote"/>
				<xs:element ref="dir:directory-entry"/>
				<xs:element ref="essay:div"/>
				<xs:element ref="essay:footnote"/>
				<xs:element ref="essay:footnote-reference"/>
				<xs:element ref="essay:complex-meta"/>
				<xs:element ref="shared:media"/>
				<xs:element ref="math:math"/>
				<xs:element ref="essay:marginalia"/>
				<xs:element ref="list:ol"/>
				<xs:element ref="list:ul"/>
				<xs:element ref="list:dl"/>
				<xs:element ref="essay:p"/>
				<xs:element ref="essay:pre"/>
				<xs:element ref="essay:section"/>
				<xs:element ref="table:table"/>
				<xs:element ref="essay:key-term"/>
				<xs:element ref="verse:verse"/>
				<xs:group ref="essay:heading-group"/>
			</xs:choice>
		</xs:sequence>
	</xs:group>
	<!--                    INLINE-META-GROUP                                  -->	
	<xs:group name="inline-meta-group">
		<xs:choice>
			<xs:element ref="essay:book"/>
			<xs:element ref="essay:play"/>
			<xs:element ref="essay:periodical"/>
			<xs:element ref="essay:poem"/>
		</xs:choice>
	</xs:group>
	<!--                    TEXT-GROUP                                  -->	
	<xs:group name="text-group">
		<xs:choice>
			<xs:element ref="essay:abbr"/>
			<xs:element ref="essay:attribution"/>
			<xs:element ref="essay:cite"/>
			<xs:element ref="essay:code"/>
			<xs:element ref="essay:defn"/>
			<xs:element ref="essay:em"/>
			<xs:element ref="essay:kbd"/>
			<xs:element ref="essay:l"/>
			<xs:element ref="essay:ocr-text"/>
			<xs:element ref="essay:q"/>
			<xs:element ref="essay:samp"/>
			<xs:element ref="essay:strong"/>
			<xs:element ref="essay:span"/>
			<xs:element ref="essay:var"/>
		</xs:choice>
	</xs:group>
	<!-- 
	============================================================================   
                    ATTRIBUTE GROUPS
	============================================================================   
	-->	
	<xs:attributeGroup name="defineDivisions">
		<xs:attribute name="document-segment-type" type="xs:string" use="optional"/>
		<xs:attribute name="term-id" type="xs:unsignedLong" use="optional"/>
		<xs:attribute name="term-source" type="xs:normalizedString" use="optional"/>
	</xs:attributeGroup>
</xs:schema>
