gaia/src/cengage/gift/gift_document.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 sp2 (http://www.altova.com) by Wendy Lewis (Gale Group) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:gift-doc="http://www.gale.com/goldschema/gift-doc" xmlns:index="http://www.gale.com/goldschema/index" xmlns:etoc="http://www.gale.com/goldschema/etoc" xmlns:meta="http://www.gale.com/goldschema/metadata" xmlns:essay="http://www.gale.com/goldschema/essay" xmlns:media="http://www.gale.com/goldschema/media" xmlns:mla="http://www.gale.com/goldschema/mla" xmlns:shared="http://www.gale.com/goldschema/shared" xmlns:dict="http://www.gale.com/goldschema/dictionary" xmlns:tt="http://www.w3.org/ns/ttml" targetNamespace="http://www.gale.com/goldschema/gift-doc" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0">
	<xs:annotation id="gift-document-schema-purpose">
		<xs:documentation>This schema defines a generic document element that represents a Gale content record and its metadata.</xs:documentation>
	</xs:annotation>
	<!--
	======================================================================
                           CHANGE HISTORY
	======================================================================
	3.0		12/04/2013		js
	1. Removed the schema owner part.
	2. Updated the folder path of <xs:import>.
	3. Reorganized elements and respective complex type models.
	4. Externalized the element 'pagination', 'metadata' and 'document-node'.
	5. Replaced complexType definition of the "document-titles" element with type="meta:document-titles-type".
	6. Replaced local definitions of "node-metadata" and "document-metadata" in "document-type/metadata" with appropriate references.
	7. Removed the duplicated definition of the element "document-titles".
	======================================================================
-->
	<xs:import namespace="http://www.gale.com/goldschema/essay" schemaLocation="essay.xsd"/>
	<xs:import namespace="http://www.gale.com/goldschema/metadata" schemaLocation="metadata.xsd"/>
	<xs:import namespace="http://www.gale.com/goldschema/index" schemaLocation="index.xsd"/>
	<xs:import namespace="http://www.gale.com/goldschema/etoc" schemaLocation="etoc.xsd"/>
	<xs:import namespace="http://www.gale.com/goldschema/media" schemaLocation="media.xsd"/>
	<xs:import namespace="http://www.gale.com/goldschema/mla" schemaLocation="mla-module.xsd"/>
	<xs:import namespace="http://www.gale.com/goldschema/shared" schemaLocation="shared.xsd"/>
	<xs:import namespace="http://www.gale.com/goldschema/dictionary" schemaLocation="dictionary-module.xsd"/>
	<!-- 
	============================================================================   
                    ELEMENT DECLARATIONS
	============================================================================   
	-->		
	<!--                    PAGINATION-GROUP                                      -->		
	<xs:element name="pagination-group">
		<xs:annotation>
			<xs:documentation>Wrapper for pagination information</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="gift-doc:pagination" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--                    PAGINATION                                   -->
	<xs:element name="pagination" type="meta:base-pagination-type">
		<xs:annotation>
			<xs:documentation>There are three generic types of pagination: consecutive, nonconsecutive for publications in which advertising 
				and illustrations interrupt pagination continuity, or system-generated "fake" page numbers that may be used for document ordering.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--                    BODY                                      -->		
	<xs:element name="body">
		<xs:annotation>
			<xs:documentation>Wrapper element for the document content; derives definitions from essay and  XHTML modules.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:group ref="essay:structural-group"/>
				<xs:element ref="gift-doc:document"/>
				<xs:element ref="index:document"/>
				<xs:element ref="etoc:document"/>
				<xs:group ref="mla:mla-group"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<!--                    DOCUMENT                                      -->		
	<xs:element name="document" type="gift-doc:document-type">
		<xs:annotation>
			<xs:documentation>Constitutes a Gale content record and its metadata</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="document-type">
		<xs:sequence>
			<xs:element ref="gift-doc:metadata"/>
			<xs:element ref="gift-doc:body" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!--                    DOCUMENT-NODE                                      -->
	<xs:element name="document-node" type="xs:normalizedString">
		<xs:annotation>
			<xs:documentation>Metadata about this node's place in the document tree.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--                    DOCUMENT-TITLES                                      -->
	<xs:element name="document-titles" type="meta:document-titles-type">
		<xs:annotation>
			<xs:documentation>Wrapper for titles of the document e.g. main title and subtitle, sort version of the title etc.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--                    METADATA                                      -->		
	<xs:element name="metadata">
		<xs:annotation>
			<xs:documentation>Wrapper element for document metadata, book metadata, and publication metadata elements.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="gift-doc:node-metadata" minOccurs="0"/>
				<xs:element ref="gift-doc:document-metadata"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--                    NODE-METADATA                                      -->
	<xs:element name="node-metadata" type="gift-doc:node-metadata-type">
		<xs:annotation>
			<xs:documentation>Wrapper element containing node level metadata elements</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="node-metadata-type">
		<xs:all>
			<xs:element ref="meta:volume-number" minOccurs="0"/>
			<xs:element ref="meta:issue-number" minOccurs="0"/>
			<xs:element ref="meta:pdf-page-range" minOccurs="0"/>
			<xs:element ref="meta:volume-number-display" minOccurs="0"/>
			<xs:element ref="meta:begin-page-display" minOccurs="0"/>
			<xs:element ref="meta:end-page-display" minOccurs="0"/>
			<xs:element ref="meta:page-range-display" minOccurs="0"/>
			<xs:element ref="meta:page-id-number" minOccurs="0"/>
			<xs:element ref="meta:document-back-of-book-index-terms" minOccurs="0"/>
			<xs:element ref="meta:physical" minOccurs="0"/>
			<xs:element ref="meta:logical" minOccurs="0"/>
			<xs:element ref="gift-doc:pagination-group" minOccurs="0"/>
			<xs:element ref="meta:newspaper-section" minOccurs="0"/>
			<xs:element ref="meta:descriptive-indexing" minOccurs="0"/>
			<xs:element ref="meta:document-ids" minOccurs="0"/>
			<xs:element ref="meta:sequence-number" minOccurs="0"/>
			<xs:element ref="meta:reference-number" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	<!--                    DOCUMENT-METADATA                                      -->
	<xs:element name="document-metadata" type="gift-doc:document-metadata-type">
		<xs:annotation>
			<xs:documentation>Wrapper element containing article level metadata elements.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="document-metadata-type">
		<xs:choice maxOccurs="unbounded">
			<xs:element ref="meta:document-ids"/>
			<xs:element ref="meta:collection-ids" minOccurs="0"/>
			<xs:element ref="meta:bibliographic-ids" minOccurs="0"/>
			<xs:element ref="meta:mcode"/>
			<xs:element ref="meta:publication-date" minOccurs="0"/>
			<xs:element ref="meta:translation-dates" minOccurs="0"/>
			<xs:element ref="meta:publisher" minOccurs="0"/>
			<xs:element ref="meta:publication-title" minOccurs="0"/>
			<xs:element ref="meta:publication-subtitle" minOccurs="0"/>
			<xs:element ref="meta:filename" minOccurs="0"/>
			<xs:element ref="gift-doc:document-titles" minOccurs="0"/>
			<xs:element ref="meta:serial-info" minOccurs="0"/>
			<xs:element ref="meta:additional-comments" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="meta:authors" minOccurs="0"/>
			<xs:element ref="meta:translators" minOccurs="0"/>
			<xs:element ref="meta:editors" minOccurs="0"/>
			<xs:element ref="meta:illustrators" minOccurs="0"/>
			<xs:element ref="meta:contributors" minOccurs="0"/>
			<xs:element ref="meta:record-admin-info" minOccurs="0"/>
			<xs:element ref="meta:article-ztags" minOccurs="0"/>
			<xs:element ref="meta:lexile-score" minOccurs="0"/>
			<xs:element ref="meta:peer-reviewed" minOccurs="0"/>
			<xs:element ref="meta:dissertation-abstract-info" minOccurs="0"/>
			<xs:element ref="meta:update-code" minOccurs="0"/>
			<xs:element ref="meta:database-acronym" minOccurs="0"/>
			<xs:element ref="meta:cartridge-frame-numbers" minOccurs="0"/>
			<xs:element ref="meta:source-citation-group" minOccurs="0"/>
			<xs:element ref="meta:descriptive-indexing" minOccurs="0"/>
			<xs:element ref="shared:electronic-information" minOccurs="0"/>
			<xs:element ref="meta:digital-object-identifier" minOccurs="0"/>
			<xs:element ref="gift-doc:document-node" minOccurs="0"/>
			<xs:element ref="shared:sponsors" minOccurs="0"/>
			<xs:element ref="meta:folio" minOccurs="0"/>
			<xs:element ref="meta:collation" minOccurs="0"/>
			<xs:element ref="meta:calendar-entry-info" minOccurs="0"/>
			<xs:element ref="meta:microfilm-info" minOccurs="0"/>
			<xs:element ref="meta:reference-number" minOccurs="0"/>
			<xs:element ref="meta:reference-archive-number" minOccurs="0"/>
			<xs:element ref="meta:source-institution" minOccurs="0"/>
			<xs:element ref="meta:holding-institution"/>
			<xs:element ref="meta:ocr-confidence" minOccurs="0"/>
			<xs:element ref="shared:media" minOccurs="0"/>
			<xs:element ref="meta:related-document-info" minOccurs="0"/>
			<xs:element ref="meta:begin-page-display" minOccurs="0"/>
			<xs:element ref="meta:source-document-capture-type" minOccurs="0"/>
			<xs:element ref="meta:languages" minOccurs="0"/>
			<xs:element ref="meta:citable-type" minOccurs="0"/>
			<xs:element ref="meta:product-content-type" minOccurs="0"/>
			<xs:element ref="meta:content-filter" minOccurs="0"/>
		</xs:choice>
		<xs:attribute name="doc_body_citation" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:normalizedString">
					<xs:enumeration value="yes"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
