gaia/src/cengage/gift/media.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 rel. 3 (http://www.altova.com) by Gale Group (Gale Group) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:media="http://www.gale.com/goldschema/media" xmlns:meta="http://www.gale.com/goldschema/metadata" xmlns:essay="http://www.gale.com/goldschema/essay" xmlns:pres="http://www.gale.com/goldschema/pres" xmlns:vault-link="http://www.gale.com/goldschema/vault-linking" xmlns:tt="http://www.w3.org/ns/ttml" targetNamespace="http://www.gale.com/goldschema/media" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0">
	<xs:annotation id="media-purpose">
		<xs:documentation>The module defines the media within the GIFT schema</xs:documentation>
	</xs:annotation>
	<!--
	======================================================================
                           CHANGE HISTORY
	======================================================================
	3.0		12/04/2013		js
	1.	Removed the schema owner part.
	2.	Updated the folder path of <xs:import>
	3.	Added the namespace “media” for the following elements & attributes: Caption, credit, media-group, common-attributes, image-attributes.
	4.	As the namespace xmlns:xatts="http://www.gale.com/goldschema/xatts" doesn't have appropriate <xs:import> and the namespace is not been 
		used anywhere in that schema, we have removed it.
	5.	Reorganized the elements, element groups and attribute groups.
	6.	Externalized the elements 'description', 'title' and 'dlink'.
	======================================================================
-->
	<xs:import namespace="http://www.gale.com/goldschema/vault-linking" schemaLocation="vault_linking.xsd"/>
	<xs:import namespace="http://www.gale.com/goldschema/metadata" schemaLocation="metadata.xsd"/>
	<xs:import namespace="http://www.gale.com/goldschema/pres" schemaLocation="presentation.xsd"/>
	<xs:import namespace="http://www.gale.com/goldschema/essay" schemaLocation="essay.xsd"/>
	<!-- 
	============================================================================   
                    ELEMENT DECLARATIONS
	============================================================================   
	-->
	<!--                    AUDIO                                   -->
	<xs:element name="audio">
		<xs:annotation>
			<xs:documentation>Sound, such as music or other audio streams.</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="false">
			<xs:choice>
				<xs:group ref="media:media-group"/>
			</xs:choice>
			<xs:attributeGroup ref="media:common-attributes"/>
			<xs:attribute name="audio-type" type="xs:normalizedString" use="optional"/>
		</xs:complexType>
	</xs:element>
	<!--                    CREDIT                                   -->
	<xs:element name="credit" type="meta:caption-type">
		<xs:annotation>
			<xs:documentation>Credit line of a creator of media, quote etc. or copyright credits info.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--                    CAPTION                                   -->
	<xs:element name="caption">
		<xs:annotation>
			<xs:documentation>A description of a figure, media object, table etc.</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:choice maxOccurs="unbounded">
				<xs:group ref="essay:flow-group"/>
				<xs:element ref="media:credit"/>
				<xs:any namespace="http://www.w3.org/ns/ttml" processContents="skip"/>
			</xs:choice>
			<xs:attribute name="caption-type" type="xs:string">
				<xs:annotation>
					<xs:documentation>A descriptive label identifying a caption that is appropriate for a specific product; 
						allows media asset to be repurposed for different products</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<!--                    DESCRIPTION                                   -->
	<xs:element name="description" type="meta:caption-type">
		<xs:annotation>
			<xs:documentation>A description captures as fully as possible the content of an image</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--                    DLINK                                   -->
	<xs:element name="dlink" type="xs:string">
		<xs:annotation>
			<xs:documentation>Captures a description of an image for visually disabled users that can be made audible by an appropriate application.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--                    IMAGE                                   -->
	<xs:element name="image">
		<xs:annotation>
			<xs:documentation>Image such as graphic, photo, line art or illustration.</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="false">
			<xs:choice>
				<xs:group ref="media:media-group"/>
			</xs:choice>
			<xs:attributeGroup ref="media:common-attributes"/>
			<xs:attributeGroup ref="media:image-attributes"/>
		</xs:complexType>
	</xs:element>
	<!--                    TITLE                                   -->
	<xs:element name="title" type="xs:string">
		<xs:annotation>
			<xs:documentation>Defines the title of audio/video.</xs:documentation>
		</xs:annotation>	
	</xs:element>
	<!--                    VIDEO                                   -->
	<xs:element name="video">
		<xs:annotation>
			<xs:documentation>Video, such as a movie clip or other video streams.</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="false">
			<xs:choice>
				<xs:group ref="media:media-group"/>
			</xs:choice>
			<xs:attributeGroup ref="media:common-attributes"/>
			<xs:attribute name="video-type" type="xs:normalizedString" use="optional"/>
			<xs:attribute name="duration" type="xs:normalizedString" use="optional"/>
		</xs:complexType>
	</xs:element>
	<!-- 
	============================================================================   
                    ELEMENT GROUPS
	============================================================================   
	-->
	<!--                    MEDIA-GROUP                                   -->
	<xs:group name="media-group">
		<xs:sequence>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="meta:descriptive-indexing" minOccurs="0"/>
				<xs:element ref="meta:filename" minOccurs="0"/>
				<xs:element ref="media:title" minOccurs="0"/>
				<xs:element ref="media:caption" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="media:dlink" minOccurs="0"/>
				<xs:element ref="media:credit" minOccurs="0"/>
				<xs:element ref="vault-link:vault-link" minOccurs="0"/>
				<xs:element ref="media:description" minOccurs="0"/>
			</xs:choice>
		</xs:sequence>
	</xs:group>
	<!-- 
	============================================================================   
                    ATTRIBUTE GROUPS
	============================================================================   
	-->
	<!--                    COMMON-ATTRIBUTES                                   -->
	<xs:attributeGroup name="common-attributes">
		<xs:attribute name="alt" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Brief textual description that is displayed during "mouseover" or when media cannot be rendered.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="filesize" type="xs:string" use="optional"/>
		<xs:attribute name="data-type" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Indicates the data type of the media file with standard values such as "jpeg", "gif", mp3". "mpeg", "mov", etc.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="id" type="xs:ID" use="optional"/>
	</xs:attributeGroup>
	<!--                    IMAGE-ATTRIBUTES                                   -->
	<xs:attributeGroup name="image-attributes">
		<xs:attribute name="coordinates" type="xs:string"/>
		<xs:attribute name="width" type="xs:integer"/>
		<xs:attribute name="height" type="xs:integer"/>
		<xs:attribute name="orient" type="media:image-orientationType"/>
		<xs:attribute name="image-type" type="xs:normalizedString" use="optional">
			<xs:annotation>
				<xs:documentation>Type value indicating how downstream systems should treat image (e.g., inline, page view, document view)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="layout" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Indicates whether a page view is a single or double layout</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="relative-position" type="xs:decimal" use="optional">
			<xs:annotation>
				<xs:documentation>Decimal value indicating a relative point in the text where an image is inserted</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="position" type="xs:normalizedString" use="optional">
			<xs:annotation>
				<xs:documentation>Indicates the position of an image that is inline with text (e.g., left, right, center) or the position of a page within a layout or book (left, right, ftcover, bkcover).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="object-position" type="xs:normalizedString" use="optional">
			<xs:annotation>
				<xs:documentation>Indicates the position of an "object" in an image (e.g., left, right, center)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="sequence" type="xs:decimal" use="optional">
			<xs:annotation>
				<xs:documentation>A sequential value; indicates sequence in a group of images</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="folio" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Folio number for manuscript images</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="min-dpi" type="xs:integer" use="optional">
			<xs:annotation>
				<xs:documentation>Minimum dots per inch</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="max-dpi" type="xs:integer" use="optional">
			<xs:annotation>
				<xs:documentation>Maximum dots per inch</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="color-depth" type="xs:integer" use="optional">
			<xs:annotation>
				<xs:documentation>1 bit for bitonal images, 8 or 16 bit for grayscale, 16 or 24 bit for color</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="color-mode" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation>Indicates whether the image is bitonal, grayscale, or color</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<!-- 
	============================================================================   
                    SIMPLE TYPE DECLARATION
	============================================================================   
	-->
	<xs:simpleType name="image-orientationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="portrait"/>
			<xs:enumeration value="landscape"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
