gaia/src/cengage/gift/verse.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2005 rel. 3 U (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:verse="http://www.gale.com/goldschema/verse" xmlns:essay="http://www.gale.com/goldschema/essay" xmlns:pres="http://www.gale.com/goldschema/pres" xmlns:media="http://www.gale.com/goldschema/media" targetNamespace="http://www.gale.com/goldschema/verse" elementFormDefault="qualified" attributeFormDefault="unqualified" version="3.0">
	<xs:annotation id="verse-schema-purpose">
		<xs:documentation>This module defines the "verse" element that allows content of songs and poetry to be properly handled in GOLD.</xs:documentation>
	</xs:annotation>
	<!--
	======================================================================
                           CHANGE HISTORY
	======================================================================
	3.0		12/04/2013		js
	1. Removed the schema owner part.
	2. Updated the folder path of <xs:import>.
	======================================================================
-->
	<xs:import namespace="http://www.gale.com/goldschema/pres" schemaLocation="presentation.xsd"/>
	<xs:import namespace="http://www.gale.com/goldschema/essay" schemaLocation="essay.xsd"/>
	<xs:import namespace="http://www.gale.com/goldschema/media" schemaLocation="media.xsd"/>
	<!-- 
	============================================================================   
                    ELEMENT DECLARATIONS
	============================================================================   
	-->
	<!--                    VERSE                    -->
	<xs:element name="verse">
		<xs:annotation>
			<xs:documentation>The verse element capture poetry and song type content. This is the wrapper element for this structure.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:group ref="essay:heading-group" minOccurs="0" maxOccurs="unbounded"/>
				<xs:choice maxOccurs="unbounded">
					<xs:element ref="verse:linegroup"/>
					<xs:element ref="verse:line"/>
					<xs:element ref="essay:attribution"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--                    LINEGROUP                    -->
	<xs:element name="linegroup">
		<xs:annotation>
			<xs:documentation>The linegroup element pulls the line of a verse together to form a stanza, freeverse or couplet. 
				This wraps the content of lines together to form needed display options or functional handling.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element ref="verse:space" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="verse:line" maxOccurs="unbounded"/>
			</xs:choice>
			<xs:attribute ref="verse:linegroup-type"/>
		</xs:complexType>
	</xs:element>
	<!--                    NOTE                    -->
	<xs:element name="note" type="xs:string">
		<xs:annotation>
			<xs:documentation>A note to the reader, either placed in the margin or inline with the text, 
				typically headed with the automatically generated word "Note: " or a special note icon.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<!--                    LINE                    -->
	<xs:element name="line">
		<xs:annotation>
			<xs:documentation>Handles a single line of a verse. Can be attributed with a line number or line designator to indicate its place within the verse.</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:group ref="pres:style-group"/>
				<xs:element ref="media:image"/>
				<xs:element ref="verse:space"/>
				<xs:element ref="verse:note"/>
				<xs:element ref="essay:footnote-reference" minOccurs="0"/>
			</xs:choice>
			<xs:attribute ref="verse:line-number"/>
			<xs:attribute name="justify">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="full"/>
						<xs:enumeration value="center"/>
						<xs:enumeration value="left"/>
						<xs:enumeration value="right"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="line-designator">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="first-line"/>
						<xs:enumeration value="last-line"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="part">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="initial"/>
						<xs:enumeration value="yes"/>
						<xs:enumeration value="middle"/>
						<xs:enumeration value="no"/>
						<xs:enumeration value="final"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<!--                    SPACE                    -->
	<xs:element name="space">
		<xs:annotation>
			<xs:documentation>Allows for the idendentation of the verse. Most commonly used in poetry as an artistic way to express the writers work of art.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:restriction base="xs:anyType">
					<xs:attribute name="unit">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="lines"/>
								<xs:enumeration value="paras"/>
								<xs:enumeration value="chars"/>
								<xs:enumeration value="words"/>
								<xs:enumeration value="pages"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="axis">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="horizontal"/>
								<xs:enumeration value="vertical"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="space-num"/>
				</xs:restriction>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<!-- 
	============================================================================   
                    ATTRIBUTE DECLARATIONS
	============================================================================   
	-->	
	<xs:attribute name="linegroup-type">
		<xs:simpleType>
			<xs:restriction base="xs:NMTOKEN">
				<xs:enumeration value="stanza"/>
				<xs:enumeration value="couplet"/>
				<xs:enumeration value="freeverse"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
	<xs:attribute name="line-number" type="xs:string"/>
</xs:schema>
